---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import PrimeraClase from "../../assets/JS.webp";
import JSCourse from "../../assets/js-course.webp";
import Certifications from "../Certifications/Certifications.astro";
import AnimatedLink from "../AnimatedLink/AnimatedLink";
import Reviews from "../Reviews/Reviews.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2
  class="mx-5 mt-5 mb-2 dark:text-textLight font-bold text-3xl md:text-4xl flex"
>
  {t("section.about.title")}
</h2>
<section class="flex flex-col sm:mx-5" id="about">
  <div class="mx-5">
    <div class="flex items-center gap-2">
      <span class="text-textDark dark:text-textLight block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
          ><g
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            color="currentColor"
            ><path
              d="M15.175 22v-1.009A1.007 1.007 0 0 1 16.18 20h.075c1.432-.012 2.662-1.006 2.954-2.388l.01-.052l.52-2.56l.94-.464c.505-.248.756-.373.81-.6c.055-.228-.114-.45-.451-.895l-1.908-2.508c-.19-.25-.285-.374-.335-.506s-.067-.32-.098-.693C18.353 5.227 14.865 2 10.612 2C6.132 2 2.5 5.582 2.5 10c0 2.75 1.407 5.175 3.55 6.615m0 0V22m0-5.385a8 8 0 0 0 2.027.987"
            ></path><path
              d="m14 9l.92.793c.387.333.58.5.58.707s-.193.374-.58.707L14 12M7 9l-.92.793c-.387.333-.58.5-.58.707s.193.374.58.707L7 12m4.5-4l-2 5"
            ></path></g
          ></svg
        >
      </span>
      <h3
        class="text-textDark dark:text-textLight font-bold text-base md:text-xl my-5 relative"
      >
        {t("section.about.description")}
      </h3>
    </div>
    <p class="text-textDark dark:text-textLight lg:max-w-[90%] mx-auto">
      {t("section.about.developerInfo")}
    </p>
  </div>

  <Reviews />

  <div class="flex flex-col mx-5 my-5">
    <div class="flex items-center gap-2">
      <span class="text-textDark dark:text-textLight block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 256 256"
          ><path
            fill="currentColor"
            d="M216 42H40a14 14 0 0 0-14 14v144a14 14 0 0 0 14 14h13.39a6 6 0 0 0 5.42-3.43a50 50 0 0 1 90.38 0a6 6 0 0 0 5.42 3.43H216a14 14 0 0 0 14-14V56a14 14 0 0 0-14-14M78 144a26 26 0 1 1 26 26a26 26 0 0 1-26-26m140 56a2 2 0 0 1-2 2h-57.73a62.34 62.34 0 0 0-31.48-27.61a38 38 0 1 0-45.58 0A62.34 62.34 0 0 0 49.73 202H40a2 2 0 0 1-2-2V56a2 2 0 0 1 2-2h176a2 2 0 0 1 2 2ZM198 80v96a6 6 0 0 1-6 6h-16a6 6 0 0 1 0-12h10V86H70v10a6 6 0 0 1-12 0V80a6 6 0 0 1 6-6h128a6 6 0 0 1 6 6"
          ></path></svg
        >
      </span>

      <h3
        class="text-textDark dark:text-textLight font-bold text-base md:text-xl my-5 flex rounded-md w-full"
      >
        {t("section.about.course")}
        <AnimatedLink
          client:load
          className="ml-2 flex items-center"
          href={"https://www.articulate.com/360/storyline/"}
          >Storyline 360</AnimatedLink
        >
      </h3>
    </div>

    <p class="text-textDark dark:text-textLight lg:max-w-[90%] mx-auto">
      <!-- In October, I started to teach JavaScript for Storyline 360,which is an
      e-learning software to build interactive courses. This use an API to work
      with JavaScript and the -->

      {t("section.about.classInfoOne")}

      <AnimatedLink
        client:load
        className="inline"
        svgClassName="inline"
        href={"https://gsap.com/core/"}>GSAP</AnimatedLink
      >
      {t("section.about.classInfoTwo")}
    </p>
    <br />
    <p class="text-textDark dark:text-textLight lg:max-w-[90%] mx-auto">
      {t("section.about.classInfoThree")}
      <br />
    </p>

    <div class="flex flex-wrap lg:flex-nowrap mx-2 lg:mx-10 gap-5 my-5">
      <figure
        class="w-full bg-lightCard dark:bg-navigation rounded-md p-3 pb-10 shadow-inner"
      >
        <Image
          src={PrimeraClase}
          class="object-fill h-full rounded-md"
          alt="javascript course video call"
          loading={"lazy"}
        />

        <figcaption
          class="text-textDark dark:text-textLight text-sm md:text-base py-2"
        >
          {t("section.about.classInfoImageFundamentals")}
        </figcaption>
      </figure>
      <figure
        class="w-full bg-lightCard dark:bg-navigation rounded-md p-3 pb-10 shadow-inner"
      >
        <Image
          src={JSCourse}
          class="object-cover h-full rounded-md"
          alt="javascript course presentation"
          loading={"lazy"}
        />

        <figcaption
          class="text-textDark dark:text-textLight text-sm md:text-base py-2"
        >
          {t("section.about.classInfoImageContent")}
        </figcaption>
      </figure>
    </div>
  </div>

  <div class="flex flex-col mx-5 my-10">
    <div class="flex items-center gap-2">
      <span class="text-textDark dark:text-textLight block">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 36 36"
          ><path
            fill="currentColor"
            d="M32 6H4a2 2 0 0 0-2 2v20a2 2 0 0 0 2 2h15l.57-.7l.93-1.14l-.09-.16H4V8h28v8.56a8.4 8.4 0 0 1 2 1.81V8a2 2 0 0 0-2-2"
            class="clr-i-outline clr-i-outline-path-1"></path><path
            fill="currentColor"
            d="M7 12h17v1.6H7z"
            class="clr-i-outline clr-i-outline-path-2"></path><path
            fill="currentColor"
            d="M7 16h11v1.6H7z"
            class="clr-i-outline clr-i-outline-path-3"></path><path
            fill="currentColor"
            d="M7 23h10v1.6H7z"
            class="clr-i-outline clr-i-outline-path-4"></path><path
            fill="currentColor"
            d="M27.46 17.23a6.36 6.36 0 0 0-4.4 11l-1.94 2.37l.9 3.61l3.66-4.46a6.26 6.26 0 0 0 3.55 0l3.66 4.46l.9-3.61l-1.94-2.37a6.36 6.36 0 0 0-4.4-11Zm0 10.68a4.31 4.31 0 1 1 4.37-4.31a4.35 4.35 0 0 1-4.37 4.31"
            class="clr-i-outline clr-i-outline-path-5"></path><path
            fill="none"
            d="M0 0h36v36H0z"></path></svg
        >
      </span>

      <h3
        class="text-textDark dark:text-textLight font-bold text-base md:text-xl w-full"
      >
        {t("section.about.certifications")}
      </h3>
    </div>

    <Certifications />
  </div>
</section>

<script>
  import { animate } from "motion";

  const $aboutCourses = document.querySelector(".about-courses");
  const $aboutCerts = document.querySelector(".about-certification");

  $aboutCourses?.addEventListener("mouseover", () => {
    animate(".about-courses img", { scale: 1.2 }, { duration: 0.5 });
  });
  $aboutCourses?.addEventListener("mouseleave", () => {
    animate(".about-courses img", { scale: 1 });
  });

  $aboutCerts?.addEventListener("mouseover", () => {
    animate(".about-certification img", { scale: 1.2 }, { duration: 0.5 });
  });
  $aboutCerts?.addEventListener("mouseleave", () => {
    animate(".about-certification img", { scale: 1 });
  });
</script>
