---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import PrimeraClase from "../../assets/primera-clase.webp";
import Certificado from "../../assets/efset-english-level.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 class="mx-5 my-5 dark:text-textLight font-bold text-3xl md:text-4xl">
  {t("section.about.title")}
</h2>
<section
  class="flex mx-5 my-14 rounded-md
  dark:bg-lightCard/10 bg-lightCard overflow-hidden relative shadow-inner"
  id="about"
>
  <div
    class="w-[50%] flex items-center justify-center md:justify-between about-courses overflow-hidden"
  >
    <a
      href="about/#course-javascript-storyline"
      class="text-textDark dark:text-textLight underline text-center text-sm md:text-base md:max-w-[35%] flex items-center md:pl-5"
    >
      {t("section.about.course")}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-[20px]"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"></path>
      </svg>
    </a>
    <Image
      src={PrimeraClase}
      class={"hidden md:block w-[50%] h-full"}
      alt={"A video call giving a JavaScript course"}
      loading={"eager"}
    />
  </div>

  <div class="bg-textLight w-[2px]"></div>

  <div
    class="w-[50%] flex justify-center py-5 md:py-0 md:justify-between items-center about-certification"
  >
    <a
      href="about/#certifications"
      class="text-textDark dark:text-textLight underline text-center flex items-center md:pl-10"
    >
      {t("section.about.certifications")}
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 24 24">
        <path
          fill="currentColor"
          d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"></path>
      </svg>
    </a>
    <Image
      src={Certificado}
      class={"hidden md:block w-[50%] h-full"}
      alt={"A video call giving a JavaScript course"}
      loading={"eager"}
    />
  </div>
</section>

<script>
  import { animate } from "motion";

  const $aboutCourses = document.querySelector(".about-courses");
  const $aboutCerts = document.querySelector(".about-certification");

  $aboutCourses?.addEventListener("mouseover", () => {
    animate(".about-courses img", { scale: 1.2 }, { duration: 0.5 });
  });
  $aboutCourses?.addEventListener("mouseleave", () => {
    animate(".about-courses img", { scale: 1 });
  });

  $aboutCerts?.addEventListener("mouseover", () => {
    animate(".about-certification img", { scale: 1.2 }, { duration: 0.5 });
  });
  $aboutCerts?.addEventListener("mouseleave", () => {
    animate(".about-certification img", { scale: 1 });
  });
</script>
