---
import { Image } from "astro:assets";
import me from "../../assets/profile-picture.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Dropdown from "../Dropdown/Dropdown";
import HandShake from "../../assets/icons/HandShake.svg";
import { GithubIcon } from "../../assets/icons/GitHubIcon";
import { LinkedinIcon } from "../../assets/icons/LinkedInIcon";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex my-7">
  <div class="mx-5 hidden lg:flex flex-col max-w-[150px]">
    <Image
      src={me}
      class={"rounded-xl"}
      alt={"Marcos Esqueda black and white portafolio"}
      loading={"eager"}
    />
  </div>

  <div class="sm:ml-5 lg:ml-10">
    <div class="md:my-0 md:mb-[1.9rem]" id="developer-description">
      <span class="flex items-center justify-center lg:justify-normal">
        <HandShake class={"w-8 h-8"} id={"handshake"} />
      </span>
      <h1
        class="text-textDark dark:text-textLight text-lg lg:text-base text-center md:text-left"
      >
        {t("nav.introduce")}
        <span class="font-bold">{t("nav.name")} <br /> {t("nav.me")}</span>
        <span class="dark:text-textMessage italic font-bold">
          Web Developer
        </span>
      </h1>
    </div>

    <div class="flex items-center">
      <Dropdown client:load buttonText={t("nav.downloadCv")}>
        <div
          class="bg-textMessage text-textDark font-bold flex flex-col items-start py-1 text-sm rounded"
        >
          <a
            href="https://docs.google.com/document/d/1BOmteDTkfV0IeEdZue9qmHRJDCPleB6CVToCDRJGto0/edit?usp=sharing"
            class="flex w-full py-2 px-2 border-b"
            target="_blank"
            rel="noopener noreferrer"
            tabindex="0"
          >
            {t("nav.EnglishCv")}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              viewBox="0 0 24 24"
              aria-label="linkedIn"
            >
              <path
                fill="currentColor"
                d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
              ></path>
            </svg></a
          >
          <a
            href="https://docs.google.com/document/d/1wSrNdVYkW7LhNLfrQacL7McBbdTvP_VSOyViV0UEeGA/edit?usp=sharing"
            class="flex w-full py-2 px-2"
            target="_blank"
            rel="noopener noreferrer"
            tabindex="0"
          >
            {t("nav.SpanishCv")}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
              ></path>
            </svg>
          </a>
        </div>
      </Dropdown>

      <div class="flex pl-3">
        <a
          href="https://www.linkedin.com/in/marcos-esqueda/"
          tabindex="0"
          title="LinkedIn"
          aria-label="LinkedIn"
          class="block text-LinkNavigationFrom dark:text-textMessage"
          target="_blank"
          rel="noopener"
        >
          <LinkedinIcon client:visible />
        </a>

        <a
          href="https://github.com/MarcAnt"
          tabindex="0"
          title="GitHub"
          aria-label="GitHub"
          class="block text-LinkNavigationFrom dark:text-textMessage"
          target="_blank"
          rel="noopener"
        >
          <GithubIcon client:visible className={"p-2"} />
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  import { animate } from "motion";

  const $btnDownLoad = document.getElementById("downloadLink");

  const $developerDescription = document.getElementById(
    "developer-description"
  );

  $btnDownLoad?.addEventListener("mouseover", (e) => {
    e.preventDefault();

    animate("#downloadLink svg", {
      y: 2.5,
    });
  });

  $btnDownLoad?.addEventListener("mouseleave", (e) => {
    e.preventDefault();

    animate("#downloadLink svg", {
      y: 0,
    });
  });

  $btnDownLoad?.addEventListener("click", (e) => {
    e.preventDefault();
  });

  $developerDescription?.addEventListener("mouseover", () => {
    animate(
      "#handshake",
      {
        rotate: ["-10deg", "0deg"],
      },
      { type: "spring", bounce: 0.25, duration: 0.25 }
    );
  });
</script>
