---
import { Image } from "astro:assets";
import me from "../../assets/profile-picture.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import OpenToWork from "./OpenToWork";
import Dropdown from "../Dropdown/Dropdown";
import HandShake from "../../assets/icons/HandShake.svg";
import { GithubIcon } from "../../assets/icons/GitHubIcon";
import { LinkedinIcon } from "../../assets/icons/LinkedInIcon";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { isOpenToWork } = Astro.props;
---

<div class="flex my-7">
  <div class="mx-5 hidden lg:flex flex-col max-w-[150px]">
    <Image
      src={me}
      class={"rounded-xl"}
      alt={"Marcos Esqueda black and white portafolio"}
      loading={"eager"}
    />

    <!-- {
      isOpenToWork ? (
        <OpenToWork
          client:only="react"
          text={t("nav.openToWork")}
          isOpenToWork={isOpenToWork}
        />
      ) : null
    } -->
  </div>

  <div class="sm:ml-5 lg:ml-10">
    <h1
      class="text-textDark dark:text-textLight text-lg lg:text-base md:my-0 md:mb-[1.9rem] text-center md:text-left"
    >
      <span class="flex items-center justify-center md:justify-normal">
        <HandShake class={"w-8 h-8"} />
      </span>
      {t("nav.introduce")}
      <span class="font-bold">{t("nav.name")} <br /> {t("nav.me")}</span>
      <span class="dark:text-textMessage italic font-bold">
        Web Developer
      </span>
    </h1>

    <div class="flex items-center">
      <Dropdown client:load buttonText={t("nav.downloadCv")}>
        <div
          class="bg-textMessage text-textDark font-bold flex flex-col items-start py-1 text-sm rounded"
        >
          <a
            href="https://drive.google.com/file/d/1dKI_80--L0NjVSi3qqY6BfmcfKQHSod-/view?usp=sharing"
            class="flex w-full py-2 px-2 border-b"
            target="_blank"
            rel="noopener noreferrer"
            tabindex="0"
          >
            {t("nav.EnglishCv")}
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              viewBox="0 0 24 24"
              aria-label="linkedIn"
            >
              <path
                fill="currentColor"
                d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
              ></path>
            </svg></a
          >
          <a
            href="https://drive.google.com/file/d/1BEVBqUZZr1A2Ly_TB4eUB8Sz5hhve2bp/view?usp=sharing"
            class="flex w-full py-2 px-2"
            target="_blank"
            rel="noopener noreferrer"
            tabindex="0"
          >
            {t("nav.SpanishCv")}

            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M6.189 17.289L5.5 16.6L15.58 6.5H6.289v-1h11v11h-1V7.208z"
              ></path>
            </svg>
          </a>
        </div>
      </Dropdown>

      <div class="flex pl-3">
        <a
          href="https://www.linkedin.com/in/marcos-esqueda/"
          tabindex="0"
          title="LinkedIn"
          aria-label="LinkedIn"
          class="block text-LinkNavigationFrom dark:text-textMessage"
          target="_blank"
          rel="noopener"
        >
          <!-- <svg
            aria-label="LinkedIn"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93zM6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37z"
            ></path></svg
          > -->

          <GithubIcon client:visible />
        </a>

        <a
          href="https://github.com/MarcAnt"
          tabindex="0"
          title="GitHub"
          aria-label="GitHub"
          class="block text-LinkNavigationFrom dark:text-textMessage"
          target="_blank"
          rel="noopener"
        >
          <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" viewBox="0 0 24 24"
            ><path
              fill="currentColor"
              d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33s1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2"
            ></path></svg
          > -->

          <LinkedinIcon client:visible />
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  import { animate } from "motion";

  const $btnDownLoad = document.getElementById("downloadLink");

  $btnDownLoad?.addEventListener("mouseover", (e) => {
    e.preventDefault();

    animate("#downloadLink svg", {
      y: 2.5,
    });
  });

  $btnDownLoad?.addEventListener("mouseleave", (e) => {
    e.preventDefault();

    animate("#downloadLink svg", {
      y: 0,
    });
  });

  $btnDownLoad?.addEventListener("click", (e) => {
    e.preventDefault();
  });
</script>
